:root {
  --colour-white: #FDFEFE;
  --colour-black: #17202A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Old versions of Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* preventing 1px appearing below canvas / preventing mac weird scroll/stretch of page */
  touch-action: none; /* without this, the pointerup event doesn't fire */
}

#render-area {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#render-area canvas {
  height: 100%;
  background-color: black;
  image-rendering: pixelated;
}
