:root {
  --colour-white: #FDFEFE;
  --colour-black: #17202A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Old versions of Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  /* preventing 1px appearing below canvas */
  background-color: var(--colour-black);
  color: var(--colour-white);
}

.editor-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 600px;
}

.client-container {
  width: 100%;
}

.object-tab-container {
  display: flex;
  height: 100%;
}

.object-list-container {
  width: 33.333333%;
  overflow: auto;
  flex-shrink: 0;
  padding: 2rem;
  border-right: 1px solid var(--colour-white);
}

.object-details-container {
  width: 66.666666%;
  /* overflow: auto;
  flex-shrink: 0; */
  padding: 2rem;
  border-right: 1px solid var(--colour-white);
}

.object-details-header {
  padding-bottom: 2rem;
}

.object-details-content {}

.object-details-container code {
  background-color: var(--colour-white);
  color: var(--colour-black);
  padding: 4px;
}

.hidden {
  display: none !important;
}

#render-area {
  height: 100%;
  width: 100%;
  position: relative;
}

#render-area canvas {
  background-color: var(--colour-black);
  image-rendering: pixelated;
  max-width: 100%;
  max-height: 100%;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.p-1 {
  padding: 0.5rem;
}

.m-1 {
  margin: 0.5rem;
}

.m-l-1 {
  margin-left: 0.5rem;
}

.m-r-1 {
  margin-right: 0.5rem;
}

.border-bottom {
  border-bottom: 1px solid var(--colour-white);
}

.border-right {
  border-right: 1px solid var(--colour-white);
}

.map-editor {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  color: black;
}

.map-editor .maps {
  padding: 1rem;
  border-radius: 1px solid grey;
  width: 300px;
  border-right: 1px solid black;
}

.map-editor .maps .maps-header {
  display: flex;
  justify-content: space-between;
}

.map-editor .layers {
  padding: 1rem;
  border-radius: 1px solid grey;
  width: 300px;
  border-right: 1px solid black;
}

.map-editor .layers .layers-header {
  display: flex;
  justify-content: space-between
}

/* modal */
.map-editor .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #00000099;
}

.map-editor .modal .modal-container
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: lightgray;
  padding: 1rem;
  width: 25%;

  border-radius: 0.25rem;
  border: 1px solid white;
}

.map-editor .modal .modal-container .modal-header {
  font-weight: bold;
}

/* inputs */
.map-editor input {
  padding: 0.5rem;
}

.map-editor select {
  padding: 0.5rem;
}

.map-editor button {
  padding: 0.5rem;
}

/* sections */
.map-editor .section {
  border-radius: 1px solid grey;
  border-right: 1px solid black;
  overflow: auto;
} 

.map-editor .section .section-header {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid black;
  background: white;
}

.map-editor .section .section-header button.selected{
  background-color: lightblue;
}

.map-editor .section .section-body {

}

.map-editor .section .section-body li {
  list-style: none;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.map-editor .section .section-body li:hover {
  background-color: lightgreen;
  cursor: pointer;
}

.map-editor .section .section-body li.selected {
  background-color: lightgrey;
}

.map-editor .section .section-body.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* canvas */
.map-editor .canvas-container {
  background: lightgrey;
  max-width: 512px; /* default canvas width for game */
  max-height: 288px; /* default canvas height for game */
  overflow: auto;
}

.map-editor canvas {
  image-rendering: pixelated;
}

.map-editor canvas.map-editor-canvas-preview {
  background-color: white;
  border: 1px solid black;
}